body {
    margin: 0px;
    font-family: 'Roboto';
}

.header {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
}

ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-left: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.content-one {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 64px;
}

.content-one-right {
    color: white;
    height: 200px;
    width: 400px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-one-left {
    color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

